#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: pink
}

kbd {
    font-family: 'Dancing Script', cursive;
}
body{
    background-color:darkblue;
        color:goldenrod;
    text-align: center;
    font-family:monospace;
}
img {
    width: 50%;
    height: 50%;
        border-color: goldenrod;
    border-style: double;
    border-width: 10px
}
#library{
    background-color: palegoldenrod
}
